@import "~vue-material/dist/theme/engine"; // Import the theme engine


@include md-register-theme("default", (
  primary: $primary, // The primary color of your brand
  accent:  $secondary
));

@import "~vue-material/dist/theme/all"; // Apply the theme


p,body,span,div,h1,h2,h3,h4,h5,h6 {
  font-family: 'Roboto';
  font-size: 22px;
}